<header>
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h3>bienvenido a </h3>
                <h1>medics</h1>
                <i class="medium material-icons">arrow_downward</i>
            </div>
        </div>
    </div>
</header>

<body>
    <section class="s1">
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, esse harum? Odio nemo vitae suscipit quidem? Voluptate, voluptates corporis culpa similique nobis quidem quae fugiat eligendi perspiciatis enim magnam sint?</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="s2">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="../../../assets/images/marek-levak-KOID4ns1Ii4-unsplash.jpg">
                        </div>
                        <div class="card-action">
                            <a [routerLink]="['/meets']">Solicitar cita medica</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="../../../assets/images/marek-levak-KOID4ns1Ii4-unsplash.jpg">
                        </div>
                        <div class="card-action">
                            <a [routerLink]="['/surgeries']">Cirugias</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="../../../assets/images/marek-levak-KOID4ns1Ii4-unsplash.jpg">
                        </div>
                        <div class="card-action">
                            <a [routerLink]="['/meetshome']">Consulta en casa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s3">
        <div class="containter">
            <div class="row">
                <div class="col s12 center-align">
                    <h3 class="title">especialistas</h3>
                    <div class="divider dividerTitle"></div>
                </div>
            </div>
            <div class="row specialists">
                <div class="col s4 m4 l3 center-align" *ngFor="let specialist of specialists; index as i">
                    <a routerLink="/specialist/{{specialist.$key}}"><img class="circle responsive-img" src="../../../assets/images/iconMedical.png"></a>
                    <p>{{specialist.name}}</p>
                    <p>{{specialist.categories}}</p>
                </div>
            </div>
        </div>
    </section>
</body>