<header>
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h3>Cirugias</h3>
            </div>
        </div>
    </div>
</header>

<body>
    <section class="s1">
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, esse harum? Odio nemo vitae suscipit quidem? Voluptate, voluptates corporis culpa similique nobis quidem quae fugiat eligendi perspiciatis enim magnam sint?</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="s2">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="collection">
                        <li class="collection-item avatar" *ngFor="let surgerie of surgeries">
                            <i class="material-icons circle special">local_hospital</i>
                            <span class="title">{{surgerie.name}}</span>
                            <p>{{surgerie.cost}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>