header{
    background-image: url(/assets/images/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    h1, h3{
        margin: 0;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
    }
    h3{
        margin-top: 20%;
        margin-bottom: 20%;
    }
}

body{
    .specialistInfo{
        img{
            width: 150px;
        }
    }
    .specialty{
        ul{
            list-style: disc !important;
            columns: 3;
        }
    }
}

@media only screen and (max-width: 425px){
    body{
        .s1{
            h4{
                font-size: 1em !important;
            }
        }
        .specialistInfo{
            img{
                display: block;
                margin: auto;
                width: 150px;
            }
        }
    }
}