<header>
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h3>Medico 1</h3>
            </div>
        </div>
    </div>
</header>

<body>
    <section class="s1">
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, esse harum? Odio nemo vitae suscipit quidem? Voluptate, voluptates corporis culpa similique nobis quidem quae fugiat eligendi perspiciatis enim magnam sint?</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="specialistInfo">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <a href="#user"><img class="circle responsive-img" src="../../../assets/images/iconMedical.png"></a>
                </div>
                <div class="col s12">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus minus suscipit asperiores iusto fugit eveniet dicta necessitatibus eum ipsum esse ad nobis officia atque delectus quos, omnis nostrum quis magni.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="specialty">
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <ul>
                        <li>Item</li>
                        <li>Item</li>
                        <li>Item</li>
                        <li>Item</li>
                        <li>Item</li>
                        <li>Item</li>
                        <li>Item</li>
                        <li>Item</li>
                        <li>Item</li>
                        <li>Item</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
