header{
    background-image: url(/assets/images/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 64px);
    h3{
        margin: 0;
    }
}

body{
    .specialistInfo{
        img{
            width: 300px;
        }
    }
    .specialty{
        ul{
            list-style: disc !important;
            columns: 3;
        }
    }
}