<nav class="hide-on-med-and-down">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li routerLinkActive="active"><a [routerLink]="['/home']">Inicio</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/meets']">Cita medica</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/surgeries']">Cirugias</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/meetshome']">Cita en casa</a></li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
            <img src="images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li routerLinkActive="active"><a class="sidenav-close" [routerLink]="['/home']"><i class="material-icons">cloud</i>Inicio</a></li>
    <li><div class="divider"></div></li>
    <li routerLinkActive="active"><a class="sidenav-close" [routerLink]="['/meets']"><i class="material-icons">cloud</i>Cita medica</a></li>
    <li><div class="divider"></div></li>
    <li routerLinkActive="active"><a class="sidenav-close" [routerLink]="['/surgeries']"><i class="material-icons">cloud</i>Cirugias</a></li>
    <li><div class="divider"></div></li>
    <li routerLinkActive="active"><a class="sidenav-close" [routerLink]="['/meetshome']"><i class="material-icons">cloud</i>cita en casa</a></li>
</ul>
<nav class="hide-on-large-only">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</nav>