/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        margin: 0;
        padding: 0;
        .title{
            color: $secondary-color;
            text-transform: uppercase;
        }
        .dividerTitle{
            width: 150px;
            display: block;
            margin: auto;
            height: 5px;
            background-color: $secondary-color;
            margin-bottom: 50px;
        }
        .btn{
            background-color: $secondary-color;
            &:hover{
                background-color: $main-color;
            }
        }
    }
}

.datepicker-date-display, .timepicker-digital-display{
    background-color: $secondary-color !important;
}
