<footer>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l4 center-align">
                <img class="responsive-img" src="../../../assets/images/mainLogo.png" alt="logo">
            </div>
            <div class="col s12 m12 l4 center-align">
                <ul>
                    <li routerLinkActive="active"><a [routerLink]="['/home']">Inicio</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/meets']">Cita medica</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/surgeries']">Cirugias</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/meetshome']">Cita en casa</a></li>
                </ul>
            </div>
            <div class="col s12 m12 l4 center-align">
                <ul>
                    <li>
                        <span>Correo: </span>
                        <a href="mailto:info@medics.com">info@medics.com</a>
                    </li>
                    <li>
                        <span>Teléfono: </span>
                        <a href="tel:+5713214567889">321 456 7889</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
