@import '../../../variables.scss';

footer{
    background-color: $main-color;
    padding-top: 20px;
    padding-bottom: 20px;
    img{
        width: 80px;
    }
    ul{
        li{
            a{
                color: #ffffff;
            }
            span{
                color: #ffffff;
                font-weight: bold;
            }
        }
    }
}