header{
    background-image: url(/assets/images/paul-hanaoka-HbyYFFokvm0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: auto;
    h1, h3{
        margin: 0;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
    }
    h3{
        margin-top: 20%;
        margin-bottom: 20%;
    }
}

@media only screen and (max-width: 425px){
    body{
        .s1{
            h4{
                font-size: 1em !important;
            }
        }
    }
}